@import 'reset';

html, body
{
    -webkit-font-smoothing : antialiased;
    background             : #f5f5f5;
}

body
{
    border-top : 1px solid #a2a2a2;
}

h1
{
    position    : relative;
    color       : #000000;
    width       : 100%;
    text-align  : center;
    font-size   : 30px;
    line-height : 30px;
    padding     : 40px 0 30px 0;
    text-shadow : 0 1px 0 #f8f8f8;
    cursor      : default;
}

h1 span
{
    top         : 60px;
    left        : 50%;
    position    : absolute;
    color       : #0092e1;
    font-size   : 12px;
    line-height : 13px;
    margin      : 0 0 0 46px;
}

.row
{
    padding     : 0 20px 0 20px;
    font-size   : 12px;
    color       : #333333;
    text-shadow : 0 1px 0 #ffffff;
    margin      : 0 0 8px 0;
    clear       : both;
}

.row a,
.row a:hover,
.row a:visited
{
    color           : #0077c2;
    text-decoration : none;
    outline         : 0;
}

.row.centered
{
    text-align : center;
}