/**
 * Global page styles
 */
html, body, div, button, p, img, h1, h2, h3, h4, pre
{
    margin                 : 0;
    padding                : 0;
    border                 : 0;
    font-family            : "Source Sans Pro";
    -webkit-font-smoothing : antialiased;
    font-weight            : 400;
}

.header
{
    width      : 100%;
    background : rgb(105, 29, 128);
    background : -moz-linear-gradient(top, rgba(105, 29, 128, 1) 0%, rgba(248, 0, 47, 1) 100%);
    background : -webkit-linear-gradient(top, rgba(105, 29, 128, 1) 0%, rgba(248, 0, 47, 1) 100%);
    background : -o-linear-gradient(top, rgba(105, 29, 128, 1) 0%, rgba(248, 0, 47, 1) 100%);
    background : -ms-linear-gradient(top, rgba(105, 29, 128, 1) 0%, rgba(248, 0, 47, 1) 100%);
    background : linear-gradient(to bottom, rgba(105, 29, 128, 1) 0%, rgba(248, 0, 47, 1) 100%);
}

.header:after
{
    content : ' ';
    clear   : both;
}

.header:before
{
    content    : ' ';
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 500px;
    background : url(images/app.png) no-repeat center 0;
}

.header .headline
{
    color       : #ffffff;
    font-size   : 36px;
    width       : 680px;
    text-align  : center;
    left        : 50%;
    position    : relative;
    padding     : 400px 0 0 0;
    margin      : 0 0 0 -340px;
    text-shadow : 0 2px 0 rgba(0, 0, 0, 0.35);
    line-height : 38px;
}

@media screen and (max-width : 950px)
{
    .header .headline
    {
        width  : 80%;
        left   : 0;
        margin : 0 0 0 10%;
    }
}

.header .headline strong
{
    font-weight : 600;
}

.header .headline-sub
{
    color       : #ffffff;
    font-size   : 20px;
    width       : 620px;
    text-align  : center;
    left        : 50%;
    position    : relative;
    margin      : 30px 0 0 -310px;
    text-shadow : 0 2px 0 rgba(0, 0, 0, 0.35);
    line-height : 28px;
}

@media screen and (max-width : 950px)
{
    .header .headline-sub
    {
        width  : 80%;
        left   : 0;
        margin : 30px 0 0 10%;
    }
}

.header .buttons
{
    width    : 210px;
    left     : 50%;
    position : relative;
    margin   : 50px 0 0 -105px;
    padding  : 0 0 150px 0;
}

@media screen and (max-width : 950px)
{
    .header .buttons
    {
        padding : 0 0 40px 0;
    }
}

.header .buttons a
{
    display         : block;
    position        : relative;
    float           : left;
    top             : 0;
    box-sizing      : border-box;
    width           : 210px;
    text-align      : center;
    text-decoration : none;
    color           : #ee0039;
    font-size       : 20px;
    font-weight     : 600;
    box-shadow      : 0 2px 0 rgba(0, 0, 0, 0.35);
    border-radius   : 6px;
    padding         : 13px 0 14px 0;
    background      : rgb(255, 255, 255);
    background      : -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background      : -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background      : -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background      : -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    background      : linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%);
    text-shadow     : 0 1px 0 #ffffff;
}

@media screen and (max-width : 950px)
{
    .header .buttons a,
    .header .buttons a.right
    {
        float  : none;
        left   : 50%;
        margin : 0 0 60px -105px;
    }
}

.header .buttons a:hover
{
    background : #ffffff;
}

.header .buttons a i
{
    font-size : 18px;
    margin    : 0 4px 0 0;
}

.header .buttons a span
{
    cursor      : default;
    position    : absolute;
    top         : 60px;
    left        : 0;
    box-sizing  : border-box;
    width       : 210px;
    text-align  : center;
    color       : #ffffff;
    font-size   : 14px;
    font-weight : 400;
    text-shadow : 0 1px 0 rgba(0, 0, 0, 0.35);
}

.content
{
    position : relative;
    float    : left;
    width    : 1020px;
    left     : 50%;
    margin   : 50px 0 50px -490px;
}

@media screen and (max-width : 1100px)
{
    .content
    {
        width  : 80%;
        left   : 0;
        margin : 50px 0 50px 10%;
    }
}

.content .box
{
    width  : 300px;
    float  : left;
    margin : 0 40px 0 0;
}

@media screen and (max-width : 1100px)
{
    .content .box
    {
        width  : 100%;
        float  : left;
        margin : 0 0 50px 0;
    }
}

.content .box h3
{
    font-size : 24px;
    color     : #f8002f;
    margin    : 0 0 10px 0;
}

.content .box h3 i
{
    margin    : 9px 8px 0 0;
    font-size : 16px;
    float     : left;
}

.content .box p
{
    font-size   : 16px;
    line-height : 24px;
    color       : #212121;
    text-align  : justify;
}

.content .box p code
{
    font-family    : monospace;
    letter-spacing : 0;
}

.content .box p a,
.content .box p a:visited
{
    color           : #f8002f;
    text-decoration : none;
}

.content .clear
{
    height : 50px;
    clear  : both;
}

@media screen and (max-width : 1100px)
{
    .content .clear
    {
        display : none;
    }
}

.footer
{
    position   : relative;
    float      : left;
    clear      : both;
    width      : 430px;
    left       : 50%;
    padding    : 50px 0 50px 0;
    margin     : 0 0 0 -215px;
    font-size  : 14px;
    text-align : center;
    color      : #999999;
}

@media screen and (max-width : 500px)
{
    .footer
    {
        width  : 80%;
        left   : 0;
        margin : 0 0 0 10%;
    }
}

.footer a,
.footer a:hover,
.footer a:visited
{
    color           : #999999;
    text-decoration : none;
    border-bottom   : 1px dashed #bababa;
}
