html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label, ul, li, button
{
    margin  : 0;
    padding : 0;
    border  : 0;
    cursor  : default;
}

select, input, textarea, button
{
    outline : 0;
}

textarea
{
    resize : none;
}

html,
body
{
    font-family            : 'Helvetica Neue';
    -webkit-font-smoothing : antialiased;
    -webkit-user-select    : none;
}

form
{
    margin : -1px 0 0 0;
}

form button.right
{
    float : right;
}

.heading
{
    position      : relative;
    padding       : 8px 8px 9px 8px;
    color         : #757678;
    font-size     : 11px;
    line-height   : 11px;
    font-weight   : bold;
    background    : #f2f3f6;
    border-top    : 1px solid rgba(163, 163, 163, 1);
    border-bottom : 1px solid rgba(163, 163, 163, 1);
}

input[type=text]
{
    height        : 28px;
    font-size     : 12px;
    color         : #4a4a4a;
    font-family   : 'Helvetica Neue';
    border-radius : 5px;
    padding       : 0 8px 0 8px;
    width         : 100%;
    box-sizing    : border-box;
    margin        : 5px 0 5px 0;
    cursor        : text;
}

.bottom
{
    position   : relative;
    width      : 100%;
    box-sizing : border-box;
    border-top : 1px solid #a3a3a3;
    padding    : 13px 15px 0 15px;
    margin     : 0 0 -1px 0;
    height     : 58px;
    background : linear-gradient(to bottom, #e8e8e8 0%, #d4d4d4 100%);
}

.bottom button
{
    background    : linear-gradient(to bottom, #fdfdfd 0%, #e8e8e8 100%);
    border        : 1px solid #6b6b6b;
    box-shadow    : 0 1px 0 rgba(256, 256, 256, 0.7);
    font-size     : 12px;
    color         : #4a4a4a;
    border-radius : 4px;
    padding       : 6px 8px 6px 8px;
}

.bottom button:active
{
    background : linear-gradient(to top, #fdfdfd 0%, #e8e8e8 100%);
    box-shadow : 0 1px 0 rgba(256, 256, 256, 0.7), inset 0 2px 6px rgba(0, 0, 0, 0.2)
}

.bottom button.right
{
    float : right;
}