html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label
{
    margin  : 0;
    padding : 0;
    border  : 0;
    cursor  : default;
}

select, input, textarea
{
    outline : 0;
}

textarea
{
    resize : none;
}

html,
body
{
    background             : #ff99ff;
    font-family            : Helvetica Neue;
    -webkit-font-smoothing : antialiased;
    -webkit-user-select    : none;
}

.panel:before
{
    content      : '';
    z-index      : 2;
    position     : absolute;
    top          : -10px;
    left         : 50%;
    margin       : 0 0 0 -10px;
    border-style : solid;
    border-width : 0 10px 10px 10px;
    border-color : transparent transparent #a3a3a3 transparent;
}

.panel
{
    z-index       : 1;
    position      : absolute;
    margin        : 10px 0 0 20px;
    width         : 460px;
    border-radius : 6px;
    border        : 1px solid #a3a3a3;
    box-shadow    : 0 5px 20px rgba(58, 58, 58, 0.5);
}

.panel .top:before
{
    content      : '';
    z-index      : 3;
    position     : absolute;
    top          : -9px;
    left         : 50%;
    margin       : 0 0 0 -10px;
    border-style : solid;
    border-width : 0 10px 10px 10px;
    border-color : transparent transparent #e7e7e7 transparent;
}

.panel .top
{
    width                   : 100%;
    box-sizing              : border-box;
    height                  : 58px;
    background              : linear-gradient(to bottom, #e8e8e8 0%, #d4d4d4 100%);
    box-shadow              : inset 0 1px 0 #f6f6f6;
    border-top-left-radius  : 6px;
    border-top-right-radius : 6px;
    border-bottom           : 1px solid #a3a3a3;
}

.panel .top .switcher
{
    position      : absolute;
    border        : 1px solid #6b6b6b;
    height        : 26px;
    width         : 80px;
    overflow      : hidden;
    border-radius : 4px;
    margin        : 15px 0 0 15px;
    background    : linear-gradient(to bottom, #adadad 0%, #cacaca 100%);
    box-shadow    : 0 1px 0 rgba(256, 256, 256, 0.7), inset 0 2px 6px rgba(0, 0, 0, 0.2);
}

.panel .top .switch
{
    z-index       : 4;
    position      : absolute;
    top           : 0;
    left          : 0;
    width         : 40px;
    height        : 100%;
    border-radius : 3px;
    box-shadow    : 0 0 6px rgba(0, 0, 0, 0.5);
    background    : linear-gradient(to bottom, #fdfdfd 0%, #e8e8e8 100%);
    transition    : left 250ms;
}

.panel .top .switch.js-off
{
    left : 40px;
}

.panel .top .switcher .text
{
    z-index     : 5;
    position    : relative;
    width       : 40px;
    height      : 26px;
    float       : left;
    text-align  : center;
    line-height : 30px;
    font-size   : 15px;
    font-weight : bold;
    color       : #747474;
}

.panel .top .status
{
    float       : right;
    height      : 58px;
    line-height : 58px;
    font-size   : 12px;
    color       : #6b6b6b;
    text-shadow : 0 1px 0 rgba(256, 256, 256, 0.6);
    margin      : 0 15px 0 0;
}

.panel .section
{
    padding    : 0 0 1px 0;
    background : #ffffff;
}

.panel .section .heading
{
    position    : relative;
    height      : 27px;
    line-height : 26px;
    padding     : 0 8px 0 24px;
    color       : #757678;
    font-size   : 11px;
    font-weight : bold;
    background  : #f2f3f6;
}

.panel .section .heading .action
{
    display         : block;
    height          : 27px;
    line-height     : 26px;
    float           : right;
    color           : #757678;
    text-decoration : none;
    opacity         : 0.4;
    transition      : opacity 150ms;
}

.panel .section .heading .action:hover
{
    opacity : 1;
}

.panel .section.js-closed .heading .action
{
    display : none;
}

.panel .section .heading .toggle
{
    top        : 0;
    left       : 0;
    position   : absolute;
    width      : 27px;
    height     : 27px;
    opacity    : 0.4;
    transition : opacity 150ms;
}

.panel .section .heading .toggle:hover
{
    opacity : 1;
}

.panel .section .heading .toggle i
{
    position     : absolute;
    margin       : 9px 0 0 8px;
    border-style : solid;
    border-width : 0 5px 8px 5px;
    border-color : transparent transparent #757678 transparent;
    transform    : rotate(180deg);
    transition   : transform 150ms;
}

.panel .section.js-closed .heading .toggle i
{
    transform : rotate(90deg);
}

.panel .section .content
{
    padding : 15px;
}

.panel .section.js-closed .content
{
    display : none;
}

.panel .section .content select
{
    height     : 26px;
    border     : 1px solid #aaaaaa;
    background : linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.panel .section .content select.right
{
    float : right;
}

.panel .section .activity
{
    display     : block;
    width       : 100%;
    height      : 150px;
    background  : #ffffff;
    overflow-y  : scroll;
    box-sizing  : border-box;
    padding     : 10px;
    font-family : Courier;
    font-size   : 11px;
    color       : #252525;
}

.panel .section.js-closed .activity
{
    display : none;
}

.panel .section .list
{

}

.panel .bottom
{
    width                      : 100%;
    box-sizing                 : border-box;
    height                     : 32px;
    border-top                 : 1px solid #a3a3a3;
    background                 : linear-gradient(to bottom, #e8e8e8 0%, #d4d4d4 100%);
    border-bottom-left-radius  : 6px;
    border-bottom-right-radius : 6px;
}