<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/about.css" type="text/css">
    </head>
    <body>
        <h1>
            {{name}}
        </h1>
        <p class="row centered">
            <strong>
                {{version}}
            </strong>
        </p>
        <p class="row centered">
            {{copyright}}
        </p>
        <p class="row centered">
            <a href="{{website_url}}">
                {{website}}
            </a>
        </p>
    </body>
</html>