<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/editor.css" type="text/css">
    </head>
    <body>
        <form>
            <div class="heading">
                {{document_root_label}}
            </div>
            <input type="text" value="{{document_root}}" data-value="document_root">
            <div class="heading">
                {{server_name_label}}
            </div>
            <input type="text" value="{{server_name}}" data-value="server_name">
            <div class="heading">
                {{ip_label}}
            </div>
            <input type="text" value="{{ip}}" data-value="ip">
            <div class="heading">
                {{port_label}}
            </div>
            <input type="text" value="{{port}}" data-value="port">
        </form>
        <div class="bottom">
            <button data-action="save" class="js-action">{{save}}</button>
            <button data-action="delete" class="js-action right">{{delete}}</button>
        </div>
    </body>
</html>