<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/editor.css" type="text/css">
    </head>
    <body>
        <form>
            <p>
                {{document_root_label}}
                <input type="text" value="{{document_root}}">
            </p>
            <p>
                {{server_name_label}}
                <input type="text" value="{{server_name}}">
            </p>
            <p>
                {{ip_label}}
                <input type="text" value="{{ip}}">
            </p>
            <p>
                {{port_label}}
                <input type="text" value="{{port}}">
            </p>
            <button>{{save}}</button>
            <button>{{cancel}}</button>
            <button class="right">{{delete}}</button>
        </form>
    </body>
</html>