<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/panel.css" type="text/css">
    </head>
    <body>
        <div class="js-panel panel">
            <div class="top">
                <div class="js-status status">
                    Running on port 80 @todo
                </div>
                <div class="js-switcher switcher">
                    <div class="js-switch switch"></div>
                    <div class="text">I</div>
                    <div class="text">O</div>
                </div>
            </div>
            <div class="js-section section">
                <div class="js-heading heading">
                    <a class="js-toggle toggle" href="#"><i></i></a>
                    PHP
                </div>
                <div class="js-content content">
                    <select>
                        <option>5.4.35 @todo</option>
                    </select>
                    <select class="right">
                        <option>Available packages... @todo</option>
                    </select>
                </div>
            </div>
            <div class="js-section section">
                <div class="js-heading heading">
                    <a class="js-toggle toggle" href="#"><i></i></a>
                    Virtual hosts
                    <a class="action" href="#">Add</a>
                </div>
                <div class="js-content">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="js-search" placeholder="Search...">
                    </div>
                    <ul class="list">
                        <li class="entry js-search-item">
                            <span class="js-search-value">www.domain1.org</span>
                            <a href="#"><i class="fa fa-pencil"></i></a>
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">www.domain2.org with a very, very, very, very long domain name</span>
                            <a href="#"><i class="fa fa-pencil"></i></a>
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">www.domain3.org</span>
                            <a href="#"><i class="fa fa-pencil"></i></a>
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">www.domain4.org</span>
                            <a href="#"><i class="fa fa-pencil"></i></a>
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">www.domain5.org</span>
                            <a href="#"><i class="fa fa-pencil"></i></a>
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">www.domain6.org</span>
                            <a href="#"><i class="fa fa-pencil"></i></a>
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">www.domain7.org</span>
                            <a href="#"><i class="fa fa-pencil"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="js-section section">
                <div class="js-heading heading">
                    <a class="js-toggle toggle" href="#"><i></i></a>
                    Modules
                </div>
                <div class="js-content">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="js-search" placeholder="Search...">
                    </div>
                    <ul class="list">
                        <li class="entry js-search-item">
                            <span class="js-search-value">mod_access_compat</span>
                            <input type="checkbox">
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">mod_actions</span>
                            <input type="checkbox" checked="checked">
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">mod_alias</span>
                            <input type="checkbox">
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">mod_allowmethods</span>
                            <input type="checkbox" checked="checked">
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">mod_asis</span>
                            <input type="checkbox" checked="checked">
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">mod_auth_basic</span>
                            <input type="checkbox">
                        </li>
                        <li class="entry js-search-item">
                            <span class="js-search-value">mod_auth_digest</span>
                            <input type="checkbox">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="js-section section">
                <div class="js-heading heading">
                    <a class="js-toggle toggle" href="#"><i></i></a>
                    Activity
                    <a class="action" href="#">Clear</a>
                </div>
                <textarea class="js-content activity">@todo (13)Permission denied: AH00072: make_sock: could not bind to address [::]:80
(13)Permission denied: AH00072: make_sock: could not bind to address 0.0.0.0:80
no listening sockets available, shutting down
AH00015: Unable to open logs</textarea>
            </div>
            <div class="bottom">

            </div>
        </div>
    </body>
</html>