<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/css/panel.css" type="text/css">
    </head>
    <body>
        <div class="js-panel panel">
            <div class="top">
                <a class="js-settings settings">
                    <i class="fa fa-cog"></i>
                </a>
                <div class="js-switcher switcher">
                    <div class="js-switch switch"></div>
                </div>
                <a class="js-restart restart">
                    <i class="fa fa-repeat"></i>
                </a>
            </div>
            <div class="js-section section js-php js-section-closed">
                <div class="js-heading heading">
                    <a class="js-toggle toggle" href="#"><i></i></a>
                    {{section_php}}
                </div>
                <div class="js-content content margin">
                    <div class="js-load load">
                        <i class="fa fa-cog fa-spin"></i>
                    </div>
                    <select class="js-php-version"></select>
                </div>
            </div>
            <div class="js-section section js-vhosts js-section-closed">
                <div class="js-heading heading">
                    <a class="js-toggle toggle" href="#"><i></i></a>
                    {{section_vhosts}}
                    <a class="action js-add js-action" href="#">{{add}}</a>
                    <div class="search js-search">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="{{search_placeholder}}">
                    </div>
                </div>
                <div class="js-content content">
                    <div class="js-load load">
                        <i class="fa fa-cog fa-spin"></i>
                    </div>
                    <ul class="list js-list">
                        <script type="text/template" class="js-vhost-template">
                            <li class="entry js-vhost js-search-item">
                                <span class="name js-search-value">{{name}}</span>
                                <a href="#" class="js-edit"><i class="fa fa-pencil"></i></a>
                                <span class="moreinfo">{{ip}}:{{port}}</span>
                            </li>
                        </script>
                    </ul>
                </div>
            </div>
            <div class="js-section section js-modules js-section-closed">
                <div class="js-heading heading">
                    <a class="js-toggle toggle" href="#"><i></i></a>
                    {{modules_section}}
                    <div class="search js-search">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="{{search_placeholder}}">
                    </div>
                </div>
                <div class="js-content content">
                    <div class="js-load load">
                        <i class="fa fa-cog fa-spin"></i>
                    </div>
                    <ul class="list js-list">
                        <script type="text/template" class="js-module-template">
                            <li class="entry js-search-item">
                                <span class="name js-search-value">{{name}}</span>
                                <input class="js-checkbox" type="checkbox" value="{{name}}">
                            </li>
                        </script>
                    </ul>
                </div>
            </div>
            <div class="js-section section js-activity">
                <div class="js-heading heading">
                    <a class="js-toggle toggle" href="#"><i></i></a>
                    {{activity_section}}
                    <a class="action js-clear js-action" href="#">Clear</a>
                </div>
                <textarea class="js-content js-section-clearable activity" disabled="disabled"></textarea>
            </div>
            <div class="bottom">

            </div>
        </div>
    </body>
</html>